@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

/*---------- BookList Btn ----------- */

.btn-effect {
  position: relative;
}

.btn-effect:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 0.5px;
  background-color: white;
  z-index: 99;
  transition: ease-in-out 350ms;
}

.btn-effect:hover::after {
  width: 100%;
}

/*---------- Package Section #Palax Effect ----------- */
.package {
  background: url("/bg-package.webp");
  background-size: cover; /* ปรับให้ภาพครอบคลุม container */
  background-position: center; /* ตำแหน่งภาพตรงกลาง */
  background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
  background-attachment: fixed; /* เลื่อนพื้นหลังแบบ parallax */
}
